<%- include('../partials/header') %>


<form action='/books' method="POST" > 

  

  <label>Title:</label>
  <input type="text" name="title" required>

  <label>Isbn</label>
  <input type="text" name="isbn" required> 

 

  <label>Comments: Later</label>
  <!-- <textarea name="comments" required></textarea>  -->

 

  <button type="submit">Submit</button>
</form>


<%- include('../partials/footer') %>
